# Node.js
node_modules
.env
.env.local
dist
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Next.js
.next
out

# Logs
logs
*.log
*.tsbuildinfo

# OS
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml

# IDEs
.vscode
.idea

# Build artifacts
/build
/.turbo

# UploadThing cache (если есть)
.uploadthing

# Coverage (если будешь запускать тесты)
coverage
